html body {
}
.arrow {
  cursor: pointer;
}
.bin {
  float: right;
}
.card {
  margin-bottom: 0px;
  margin-top: 30px;
}
.icon {
  width: 20px;
  height: 20px;
}
.pen {
  cursor: pointer;
  margin-right: 1rem;
}
